<header class="header">
  <h1 class="header__title">HoundHunter</h1>
  <nav class="header__nav">
    <ul class="header__nav-list" routerLinkActive="active">
      <li class="header__nav-item">
        <a routerLink="/" class="header__link">Home</a>
      </li>
      <li class="header__nav-item">
        <a routerLink="/dogs" class="header__link">Dogs</a>
      </li>
      <li class="header__nav-item">
        <a routerLink="/login" class="header__link">Login</a>
      </li>
    </ul>
  </nav>
</header>
